n8n-enso-mcp-demo/workflow.json
{
  "name": "ENSO Climate Analysis MCP Server",
  "nodes": [
    {
      "parameters": {
        "toolName": "analyze_enso_situation",
        "toolDescription": "抓取香港天文台最新ENSO（厄尔尼诺-南方涛动）监测数据，使用Gemini AI分析东亚地区当前气候状况、趋势及预测。"
      },
      "id": "mcp-server-trigger",
      "name": "MCP Server Trigger",
      "type": "n8n-nodes-base.mcpTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.hko.gov.hk/en/lrf/enso/enso-latest.htm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "zh-TW,zh;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "http-request-en",
      "name": "Fetch HKO EN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.hko.gov.hk/tc/lrf/enso/enso-latest.htm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "zh-TW,zh;q=0.9,en;q=0.8"
            }
          ]
        },
        "options": {
          "timeout": 20000,
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "http-request-zh",
      "name": "Fetch HKO ZH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 提取英文页面纯文本\nconst enHtml = items[0].json.data || '';\nconst zhHtml = items[1].json.data || '';\n\n// 简单文本提取：去除 HTML 标签\nfunction extractText(html) {\n  return html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .substring(0, 4000);\n}\n\nreturn [{\n  json: {\n    text_en: extractText(enHtml),\n    text_zh: extractText(zhHtml)\n  }\n}];"
      },
      "id": "code-extract",
      "name": "Extract Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=你是一位专业气候分析专家。以下是香港天文台ENSO最新监测数据：\n\n【英文版】\n{{ $json.text_en }}\n\n【繁体中文版】\n{{ $json.text_zh }}\n\n请用简体中文撰写分析报告，包含：\n\n## 1. 当前ENSO状态\n（厄尔尼诺/拉尼娜/中性，说明判断依据）\n\n## 2. 关键监测数据与趋势\n（海表温度异常、主要指数、变化趋势）\n\n## 3. 对东亚地区的气候影响\n（温度、降水、台风）\n\n## 4. 未来1-3个月预测\n（基于当前数据的短期展望）\n\n请以Markdown格式输出。"
            }
          ]
        },
        "options": {}
      },
      "id": "google-gemini",
      "name": "Gemini Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "MCP Server Trigger": {
      "main": [
        [
          { "node": "Fetch HKO EN", "type": "main", "index": 0 },
          { "node": "Fetch HKO ZH", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch HKO EN": {
      "main": [[{ "node": "Extract Text", "type": "main", "index": 0 }]]
    },
    "Fetch HKO ZH": {
      "main": [[{ "node": "Extract Text", "type": "main", "index": 1 }]]
    },
    "Extract Text": {
      "main": [[{ "node": "Gemini Analysis", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
